.message{
    margin: auto;
    padding: 50px 10px;
    font-size: 1.5rem;
    text-align: center;
}

.fav-card {
}

.card-body{
    display: flex;
    flex-direction: column;
}

.remove-item{
    margin-top: 10px;
    color: blue;
}
.remove-item:hover{
    color: white;
}