.w-100 {
    margin: 5px auto auto;
    height: 400px;
}
@media (min-width: 435px){
    .w-100 {
        height: 600px;
    }
}
@media (min-width: 992px){
    .w-100 {
        width: 90% !important;
        height: 660px;
    }
}