.headMainContainer {
    padding: 176px 28px 200px;
    background-color: #ddbfe1;
    text-align: center;
    background-image: url(../../images/bg6.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
}

.mainTitle {
    font-size: 1.3em;
    padding-bottom: 100px;
    color: #3B393A;
    text-shadow: -3px 1px 7px #7d7d808a;
    font-weight: bold;
}

.mainTitle p {
    font-size: .6em;
}

h4 {
    font-size: 1em;
}

p {
    font-weight: 500;
    font-size: .8em;
}

.gridTitles {
    margin-bottom: 50px;
}

.items {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3B393A;
    text-shadow: -3px 1px 7px #7d7d808a;
}

.items h4 p {
    transition: transform 0.3s ease-out;
}

.items:hover {
    transform: scale(1.1);
    transition: background-color 350ms linear;
}

/* --main-color: #ff0080;
  --main-color-pink: #f55ea9;
  --main-color-dark: #9c014ff5;
  --skyblue-color-cake: #c6bfe1;
  --secondary-color: #9d03fc;
  --secondary-color-opacity: #9d03fc88;
  --skyblue-color: #5bbbd9;
  --grayish-blue: hsl(220, 14%, 75%);
  --white: #f8feff;
  --white-glass: #f8feff69; */

.text-presentation-container {
    background-color: var(--skyblue-color-cake);
    opacity: .9;
    padding: 15px 10px;
    border-radius: 5px;
}

h3 {
    font-size: 1.3em;
}

.w-100 {
    margin: 60px auto auto;
    height: 400px;
}

@media (min-width: 450px){
    .mainTitle {
        font-size: 1.4em;
    }
    .mainTitle p {
        font-size: .7em;
    }
    p {
        font-size: .9em;
    }
    h4 {
        font-size: 1.1em;
    }
    .w-100 {
        margin-top: 40px;
        height: 200px;
    }
    .items {
        margin: auto 20px;
        height: 120px;
    }
}

@media (min-width: 635px){
    .mainTitle {
        font-size: 2em;
    }
    .mainTitle p {
        font-size: .5em;
    }
    .gridTitles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    p {
        font-size: .9em;
    }
    h4 {
        font-size: 1.2em;
    }
    .w-100 {
        margin-top: 40px;
        height: 600px;
    }
    .items {
        margin: auto 10px;
        height: 170px;
    }
}

@media (min-width: 992px){
    .mainTitle {
        font-size: 2.5em;
    }
    .mainTitle p {
        font-size: .6em;
    }
    .gridTitles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h4 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.1em;
    }
    .w-100 {
        margin-top: 0;
        height: 660px;
    }
    .carousel-inner {
        margin: auto;
    }
    .items {
        margin: auto 30px;
        height: 200px;
    }
}