.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 40px;
    gap: 20px;
}

button {
    color: var(--white);
    min-width: 100px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
@media (max-width: 500px){
    button {
        min-width: 70px;
        font-size: .9rem;
        padding: 10px;
    }
}
@media (max-width: 380px){
    .btn-container {
        gap: 10px;
    }
    button {
        min-width: 50px;
        padding: 5px 2px;
    }
}

button:hover {
    background-color: var(--main-color-dark);
}

.all-btn {
    background-color: var(--main-color);
}

.diapers-btn {
    background-color: var(--secondary-color);
}
.diapers-btn:hover {
    background-color: #6803a7;
}

.crochet-btn {
    background-color: var(--skyblue-color);
}
.crochet-btn:hover {
    background-color: #4997af;
}

.clothes-btn {
    background-color: var(--grayish-blue);
}
.clothes-btn:hover {
    background-color: hsl(217, 6%, 57%);
}

@media(min-width: 992px){
    .btn-container {
        flex-direction: column;
        padding: 50px;
        gap: 20px;
    }
    button {
        color: var(--white);
        min-width: 150px;
        padding: 20px;
    }
}