.logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.logo-favs-section {
    height: 100px;
    width: 140px;
}

.favs-title {
    margin-bottom: 30px;
}

.home-text:hover {
    color: var(--secondary-color);
}