@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.headMainContainer {
    padding: 125px 0px 0px 0px;
    background-color: #ddbfe1;
    text-align: center;
    background-image: url(../../images/bg6.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
}

.mainTitle {
    padding-bottom: 100px;
    color: #3B393A;
    text-shadow: -3px 1px 7px #7d7d808a;
    font-weight: bold;
}

.mainTitle p {
    font-size: .9em;
    padding: 10px;
}

.principalTitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid1 {
    color: var(--main-color-pink);
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid2 {
    padding: 0;
    margin: 0 0 50px;
    font-size: 30px;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 2;
    grid-row-end: 2;
}

h4 {
    font-size: 1em;
}

p {
    color: #65635D;
    font-weight: 500;
    font-size: .8em;
    text-shadow: none;
}

.gridTitles {
    margin-bottom: 50px;
    padding: 0 10px;
}

.items {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3B393A;
    text-shadow: -3px 1px 7px #7d7d808a;
}

.items h4 p {
    transition: transform 0.3s ease-out;
}

.items:hover {
    transform: scale(1.1);
    transition: background-color 350ms linear;
}

/* --main-color: #ff0080;
  --main-color-pink: #f55ea9;
  --main-color-dark: #9c014ff5;
  --skyblue-color-cake: #c6bfe1;
  --secondary-color: #9d03fc;
  --secondary-color-opacity: #9d03fc88;
  --skyblue-color: #5bbbd9;
  --grayish-blue: hsl(220, 14%, 75%);
  --white: #f8feff;
  --white-glass: #f8feff69; */

h1 {
    font-size: 1em;
    padding-bottom: 30px;
}

h3 {
    font-size: 1.3em;
}

.w-100 {
    margin: 60px auto auto;
    height: 400px;
}

@media (max-width: 300px){
    .principalTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 450px){
    .headMainContainer {
        padding: 176px 28px 200px;
    }
    .grid1 {
        font-size: 2.3em;
    }
    .grid2 {
        font-size: 2.4em;
    }
    .mainTitle p {
        font-size: 1em;
    }
    p {
        font-size: .9em;
    }
    h4 {
        font-size: 1.1em;
    }
    .w-100 {
        margin-top: 40px;
        height: 200px;
    }
    .items {
        margin: auto 20px;
        height: 120px;
    }
    h1 {
        font-size: 1.3em;
        margin-top: 100px;
    }
}

@media (min-width: 635px){
    .headMainContainer {
        padding: 176px 28px 200px;
    }
    .grid1 {
        font-size: 2.8em;
    }
    .grid2 {
        font-size: 3em;
    }
    .mainTitle p {
        font-size: 1.2em;
    }
    .gridTitles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    p {
        font-size: .9em;
    }
    h4 {
        font-size: 1.2em;
    }
    .w-100 {
        margin-top: 40px;
        height: 600px;
    }
    .items {
        margin: auto 10px;
        height: 170px;
    }
    h1 {
        font-size: 1.7em;
        margin-top: 100px;
    }
}

@media (min-width: 992px){
    .headMainContainer {
        padding: 176px 28px 200px;
    }
    .grid1 {
        font-size: 5em;
    }
    .grid2 {
        font-size: 5em;
    }
    .mainTitle p {
        font-size: 1.7em;
    }
    .gridTitles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h4 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.1em;
    }
    .w-100 {
        margin-top: 0;
        height: 660px;
    }
    .carousel-inner {
        margin: auto;
    }
    .items {
        margin: auto 30px;
        height: 200px;
    }
    h1 {
        font-size: 2em;
        margin-top: 100px;
        padding-bottom: 7px;
    }
}