a {
    color: black;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.contact-section p {
    margin: 5px;
    text-align: center;
    font-size: 1em;
}
@media (min-width: 992px){
    .contact-section p{
        font-size: 1.2em;
    }
}

.social-media-container {
    display: flex;
    gap: 20px;
}

.social-media-icons {
    margin: auto;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.social-media-icons {
    font-size: 5em;
}

.ig-icon{
    color: #c84d4d;
}

.fb-icon {
    color: #4c28af;
}

.ig-icon:hover, .fb-icon:hover{
    color: black;
}