footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--skyblue-color-cake);
    color: var(--white-grey);
    padding: 50px;
    margin-bottom: 0;
}