.search-container{
    margin: 50px;
    display: flex;
    justify-content: center;
}

.input-search{
    border: none;
    box-shadow: 0 0 5px -1px rgba(224,173,219,1);
    -webkit-box-shadow: 0 0 5px -1px rgba(224,173,219,1);
    -moz-box-shadow: 0 0 5px -1px rgba(224,173,219,1);
    border-radius: 5px;
    padding: 12px;
    outline: none;
    color: black;
    background-color: var(--skyblue-color-cake);
}

.input-search:focus{
    background-color: #9d9aaf;
}

input::placeholder {
    color: var(--white);
}

@media(min-width: 500px){
    .input-search{
        width: 60%;
    }
}
@media(min-width: 992px){
    .input-search{
        width: 80%;
    }
}